{
    "port": 3000,

    "clientId": "577529573982601218",
    "clientSecret": "ZJ4hFULFC0F4u41biRFMmzGipSUNpSYe",
    "scopes": ["identify", "guilds"],
    "redirectUri": "http://localhost:3000/authorize/callback"
}
